# PATH =  /etc/sudoers.d
# CONTEXT = files in sudoers.d represent a user and how it gets sudo permissions, in this case anscontrol can access sudo without a password
# CHANGE =  create file in sudoers

anscontrol ALL=(ALL) NOPASSWD: ALL
