# PATH =  /etc/sudoers.d
# CONTEXT = files in sudoers.d represent a user and how it gets sudo permissions, in this case khlabansible can access sudo without a password
# CHANGE =  create file in sudoers

khlabansible ALL=(ALL) NOPASSWD: ALL